/*Temporary CSS File*/

:root {
  /*Colors*/
  --color-white: hsl(0, 0%, 100%); /* White*/
  --grey-light: hsl(217, 12%, 63%); /*Light Grey*/
  --grey-dark: hsl(216, 12%, 54%); /* Medium Grey*/
  --color-primary-light: hsl(213, 19%, 18%); /*Dark Blue*/
  --color-primary-dark: hsl(216, 12%, 8%); /*Very Dark Blue*/

  /*FONTS*/
  --text-font-size: 1.5rem;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: sans-serif;
}

main {
  display: flex;
  flex-direction: column-reverse;
  gap: 2rem;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  min-height: 100vh;
  background: var(--color-primary-dark);
}

.card {
  max-width: 43rem;
  height: 45rem;
  padding: 3.2rem;
  background: radial-gradient(
    98.96% 98.96% at 50% 0%,
    #232a34 0%,
    #181e27 100%
  );
  border-radius: 30px;
}

.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

.card__icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 6rem;
  height: 6rem;
  margin-bottom: 3.2rem;
  border-radius: 50%;
  background: #262e38;
}

.icon {
  width: 2.5rem;
  height: 2.5rem;
}

.card__title {
  font-style: normal;
  font-weight: 700;
  font-size: 28px;
  line-height: 35px;
  color: #ffffff;
  margin-bottom: 1rem;
}

.card__text {
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
  color: #969fad;
  margin-bottom: 2.4rem;
}

.card__ratings {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  margin-bottom: 4.3rem;
}

.card__ratings_rate {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 6rem;
  height: 6rem;
  border-radius: 50%;
  background: #262e38;
  text-decoration: none;
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  letter-spacing: 0.2px;
  color: #7c8798;
}

.card__ratings_rate:hover {
  background: #fc7614;
  color: #ffffff;
}

.card__ratings_rate:focus {
  background: #7c8798;
  color: #fff;
  outline: none;
}

.btn {
  border: none;
  outline: none;
  background-color: transparent;
  cursor: pointer;
  padding: 12px 16px;
  width: 100%;
  font-weight: 700;
  font-size: 15px;
  line-height: 19px;
  letter-spacing: 2px;
}

.card__submit {
  background: #fc7614;
  color: #ffffff;
  border-radius: 22.5px;
}

.card__submit:hover {
  color: #fc7614;
  background-color: #ffffff;
}
