*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: sans-serif;
}

main {
  display: flex;
  flex-direction: column-reverse;
  gap: 2rem;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  min-height: 100vh;
  background: #121417;
}

.card {
  max-width: 43rem;
  height: 45rem;
  padding: 3.2rem;
  background: radial-gradient(
    98.96% 98.96% at 50% 0%,
    #232a34 0%,
    #181e27 100%
  );
  border-radius: 3rem;
}

.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

.card__icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 6rem;
  height: 6rem;
  margin-bottom: 3.2rem;
  border-radius: 50%;
  background: #262e38;
}

.icon {
  width: 2.5rem;
  height: 2.5rem;
}

.card__title {
  font-style: normal;
  font-weight: 700;
  font-size: 2.8rem;
  color: #ffffff;
  margin-bottom: 2rem;
}

.card__text {
  font-weight: 400;
  font-size: 1.5rem;
  line-height: 1.7;
  color: #969fad;
  margin-bottom: 2.4rem;
}

.card__ratings {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  margin-bottom: 4.3rem;
}

.card__ratings_rate {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 6rem;
  height: 6rem;
  border-radius: 50%;
  background: #262e38;
  border: none;
  font-weight: 700;
  font-size: 1.6rem;
  text-align: center;
  letter-spacing: 0.2px;
  color: #7c8798;
}

.card__ratings_rate:hover {
  background: #fc7614;
  color: #ffffff;
}

.card__ratings_rate:focus {
  background: #7c8798;
  color: #fff;
  outline: none;
}

.btn {
  border: none;
  outline: none;
  background-color: transparent;
  cursor: pointer;
  padding: 1.2rem 1.6rem;
  width: 100%;
  font-weight: 700;
  font-size: 1.5rem;
  letter-spacing: 2px;
}

.card__submit {
  background: #fc7614;
  color: #ffffff;
  border-radius: 2.25rem;
}

.card__submit:hover {
  color: #fc7614;
  background-color: #ffffff;
}

/* Thank you state start -->  */

.feed-icon-box {
  width: 50%;
  height: 100%;
  margin: 0 auto;
  margin-bottom: 3.2rem;
}

.feed-icon {
  width: 100%;
  height: 100%;
}

.feed-rate {
  width: 50%;
  margin: 0 auto;
  background: #262e38;
  border-radius: 2.25rem;
  padding: 0.8rem 1.4rem;
  font-weight: 400;
  font-size: 1.5rem;
  line-height: 1.4;
  text-align: center;
  color: #fc7614;
  margin-bottom: 3.2rem;
}

.feed-title {
  font-weight: 700;
  font-size: 2.8rem;
  color: #ffffff;
  text-align: center;
  margin-bottom: 2rem;
}

.feed-text {
  font-weight: 400;
  font-size: 1.5rem;
  line-height: 1.7;
  text-align: center;
  color: #969fad;
}

.hidden {
  display: none;
}

@media screen and (max-width: 425px) {
  .card {
    max-width: 33rem;
    height: 46rem;
    padding: 2.2rem;
  }

  .card__ratings_rate {
    width: 5rem;
    height: 5rem;
  }

  .feed-rate {
    width: 65%;
  }
}
